.cards{
    margin-top: 15vh;
    height: 90vh;
    width: 100vw;
}
.cardPagination{
    display: flex;
    justify-content: center;
    margin:30px;
    align-items: center;
}
.paginationButtons{
    margin: 20px;
    border: none;
    height: 40px;
    width: 80px;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    background-color: #0276FF;
}
.disable{
    pointer-events: none;
}
.cardItems{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.eachCard{
    margin: 20px;
    padding: 30px;
    height: 340px;
    width: 300px;
    background-color: #FDF4F5;
    border-radius: 40px;
}
.cardImage{
    border-radius: 100px;
    height: 150px;
    width: 150px;
}
.cardInformation{
    height: 200px;
    padding:10px;
    margin: 5px;
}
.buttons{
   display: flex;
   justify-content: space-around;
   align-items:center;
   height: 120px;
   margin-bottom: 10px;
}
.editButton{
    border: none;
    height: 40px;
    width: 80px;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    
}
.deleteButton{
    border: none;
    height: 40px;
    width: 80px;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    background: #FF4742;  
}





